In [12]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

In [13]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [14]:
symbols = 'abcde'
turple(ord(symbol) for symbol in symbols)

NameError: name 'turple' is not defined

In [15]:
symbols = 'abcde'
tuple(ord(symbol) for symbol in symbols)

(97, 98, 99, 100, 101)

In [16]:
from collections import namedtuple

City = namedtuple('City', 'name country coordinates')
tokyo = City('Tokyo', 'JP' 36.933 (35.68, 139.69))

SyntaxError: invalid syntax (<ipython-input-16-349c045e8dac>, line 4)

In [17]:
from collections import namedtuple

City = namedtuple('City', 'name country coordinates')
tokyo = City('Tokyo', 'JP', (36.933 (35.68, 139.69)))

TypeError: 'float' object is not callable

In [18]:
from collections import namedtuple

City = namedtuple('City', 'name country coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.68, 139.69))

TypeError: __new__() takes 4 positional arguments but 5 were given

In [19]:
from collections import namedtuple

City = namedtuple('City', 'name country coordinates')
tokyo = City('Tokyo', 'JP', (35.68, 139.69))

In [20]:
tokyo

City(name='Tokyo', country='JP', coordinates=(35.68, 139.69))

In [23]:
s = 'bicycle'
s[::3]
s[::-1]

'elcycib'

In [22]:
s[::-1]

'elcycib'

In [25]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits, key = len, reverse = True)

['raspberry', 'banana', 'grape', 'apple']

In [26]:
my_dict = {}
isinstance(my_dict, abc.Mapping)

NameError: name 'abc' is not defined

In [29]:
import collections.abc as abc
my_dict = {}
isinstance(my_dict, abc.Mapping)

True

In [34]:
class myobj:
    def __init__(self):
        self.x = 1
print (myobj())
print (id(myobj()))

<__main__.myobj object at 0x7f5ba93a1320>
140031657907032

In [35]:
int('0x7f5ba93a1320',16)

140031657906976

In [37]:
x = [1,2]
a,b = x
a

1

In [45]:
s = 'kong瑞'
b = s.encode('utf8')
s = b.decode('utf8')
s

'kong瑞'

In [1]:
x = lambda x : x+1
x(1)

2

In [3]:
def f(a, b):
    a += b
    return a

a = [1,2]
b = [3,4]
f(a,b)
a,b

([1, 2, 3, 4], [3, 4])